# This shows which teams struggled most in different situations
### Further analysis here https://public.tableau.com/app/profile/matt.colville#!/

In [1]:
import pandas as pd

In [2]:
overall = pd.read_csv(r"C:\Users\Owner\OneDrive\Desktop\exploratory data files\Bullpen Breakdown\Splits Leaderboard Data .csv")
overall['OPS'] = overall['SLG'] + overall['OBP']
ov_tot = overall[["Tm","ERA", "HR", "wOBA", "OPS"]]
ov_tot = ov_tot.add_suffix('_overall')

In [3]:
HL = pd.read_csv(r"C:\Users\Owner\OneDrive\Desktop\exploratory data files\Bullpen Breakdown\Splits Leaderboard Data 8th Inning 9th Inning High Leverage.csv")
HL['OPS'] = HL['SLG'] + HL['OBP']
HL1 = HL[["Tm","ERA", "HR", "wOBA", "OPS"]]
HL1 = HL1.add_suffix('_High_Lev')

In [4]:
LL = pd.read_csv(r"C:\Users\Owner\OneDrive\Desktop\exploratory data files\Bullpen Breakdown\Splits Leaderboard Data 8th Inning 9th Inning Low Leverage.csv")
LL['OPS'] = LL['SLG'] + LL['OBP']
LL1 = LL[["Tm","ERA", "HR", "wOBA", "OPS"]]
LL1 = LL1.add_suffix('_Low_Lev')

In [5]:
ML = pd.read_csv(r"C:\Users\Owner\OneDrive\Desktop\exploratory data files\Bullpen Breakdown\Splits Leaderboard Data 8th Inning 9th Inning Medium Leverage.csv")
ML['OPS'] = ML['SLG'] + ML['OBP']
ML1 = ML[["Tm","ERA", "HR", "wOBA", "OPS"]]
ML1 = ML1.add_suffix('_Med_Lev')

In [6]:
EOG = pd.read_csv(r"C:\Users\Owner\OneDrive\Desktop\exploratory data files\Bullpen Breakdown\Splits Leaderboard Data 8th Inning 9th Inning.csv")
EOG['OPS'] = EOG['SLG'] + EOG['OBP']
EOG1 = EOG[["Tm","ERA", "HR", "wOBA", "OPS"]]
EOG1 = EOG1.add_suffix('_end_gm')

In [7]:
Merge = ov_tot.merge(HL1, left_on = "Tm_overall", right_on = "Tm_High_Lev")
Merge2 = Merge.merge(ML1, left_on = "Tm_overall", right_on = "Tm_Med_Lev")
Merge3 = Merge2.merge(LL1, left_on = "Tm_overall", right_on = "Tm_Low_Lev")
Final = Merge3.merge(EOG1, left_on = "Tm_overall", right_on = "Tm_end_gm")
Final = Final[['Tm_overall', 'ERA_overall', 'HR_overall', 'wOBA_overall',
       'OPS_overall', 'ERA_High_Lev', 'HR_High_Lev',
       'wOBA_High_Lev', 'OPS_High_Lev', 'ERA_Low_Lev',
       'HR_Low_Lev', 'wOBA_Low_Lev', 'OPS_Low_Lev',
       'ERA_Med_Lev', 'HR_Med_Lev', 'wOBA_Med_Lev', 'OPS_Med_Lev',
       'ERA_end_gm', 'HR_end_gm', 'wOBA_end_gm', 'OPS_end_gm']]
Final = Final.set_index('Tm_overall')

In [8]:
HR = [col for col in Final.columns if 'HR' in col]
ERA = [col for col in Final.columns if 'ERA' in col]
wOBA = [col for col in Final.columns if 'wOBA' in col]
OPS = [col for col in Final.columns if 'OPS' in col]
Final[ERA].sort_values('ERA_overall', ascending= False)

            ERA_overall  ERA_High_Lev  ERA_Low_Lev  ERA_Med_Lev  ERA_end_gm
Tm_overall
CIN            5.536112     11.089286     6.253676     8.015625    7.232143
WSN            5.067961      5.491525     3.483871     1.372881    3.469626
COL            4.984419      2.734177     2.853659     3.033708    2.869565
KCR            4.919825      7.125000     4.576271     5.637363    5.278195
PIT            4.734104      8.391892     4.651261     2.842105    4.909091
CHC            4.726257      4.068493     4.631799     1.216216    3.638298
ARI            4.372521      5.837838     3.361868     4.228916    3.978261
OAK            4.365797      9.409091     2.785714     4.009901    4.124105
TOR            4.137500      5.181818     3.426923     4.050000    3.936219
CHW            4.089744      4.965517     4.685950     3.300000    4.446301
DET            4.050651      3.240000     2.885496     2.958904    2.963415
SFG            4.038961      8.437500     4.681452     2.010638    4.798578
BAL            4.010276      3.705882     3.521739     1.113402    2.992611
LAA            3.953975     10.914894     3.386760     3.306122    4.187500
CLE            3.935065      2.734177     3.571984     3.240000    3.350365
TEX            3.897979     10.525424     2.847656     1.136842    3.556098
NYM            3.895207      5.268293     2.302326     4.354839    3.304850
PHI            3.880618      8.852459     2.258182     1.989474    3.132251
MIA            3.851528      7.012987     3.506494     3.475248    4.158924
STL            3.837626      2.907692     4.304348     3.263736    3.875000
MIL            3.734835      4.064516     3.276151     3.311321    3.452055
ATL            3.720277      6.230769     2.814672     2.336538    3.306122
SEA            3.676173      4.736842     2.048276     4.939024    2.958042
MIN            3.642372      6.527473     3.459075     2.918919    3.995516
BOS            3.573159      6.319149     3.347107     5.294118    4.438356
SDP            3.566500     10.862069     3.182927     2.327586    4.449889
TBR            3.310248      5.178082     3.735178     2.479592    3.693396
LAD            2.955924      8.526316     2.889299     3.375000    3.750000
HOU            2.932825      3.724138     1.745247     4.178571    2.612903
NYY            2.902688      5.651163     2.524390     2.675676    3.169300

In [9]:
Final[HR].sort_values('HR_overall',ascending = False)

            HR_overall  HR_High_Lev  HR_Low_Lev  HR_Med_Lev  HR_end_gm
Tm_overall
CIN                115            4          16           4         24
WSN                113            2          14           2         18
CHC                108            1          18           2         21
SEA                105            2           8           5         15
LAA                 93            4          15           5         24
MIN                 93            4          11           3         18
TOR                 93            2           7           4         13
TBR                 92            5          14           5         24
NYM                 92            2          11           7         20
CLE                 92            0          14           2         16
MIL                 89            3          10           4         17
ARI                 89            3          10           5         18
OAK                 89            1           3           5          9
PIT                 88            3          14           1         18
COL                 86            0           8           4         12
BAL                 85            3           9           1         13
CHW                 85            1           9           4         14
BOS                 84            4           6           6         16
KCR                 83            3           9           4         16
MIA                 82            6           5           5         16
DET                 80            0           7           3         10
STL                 79            1          16           4         21
SDP                 78            4           9           3         16
PHI                 78            3           7           2         12
TEX                 74            6           8           1         15
LAD                 73            2           9           3         14
NYY                 70            3           4           2          9
HOU                 69            1           5           3          9
ATL                 68            3           7           0         10
SFG                 64            4           9           4         17

In [20]:
Final[wOBA].sort_values('wOBA_overall',ascending = False)

,wOBA_overall,wOBA_High_Lev,wOBA_Low_Lev,wOBA_Med_Lev,wOBA_end_gm
Tm_overall,,,,,
CIN,0.345620,0.403660,0.358970,0.401283,0.372658
WSN,0.340439,0.306984,0.290483,0.274771,0.290534
COL,0.339026,0.245849,0.264774,0.333404,0.276680
KCR,0.333604,0.301407,0.359745,0.340756,0.345834
PIT,0.330904,0.347634,0.332139,0.269157,0.320595
CHC,0.329663,0.281409,0.344262,0.220602,0.304160
OAK,0.321405,0.338760,0.298967,0.316330,0.310133
ARI,0.320889,0.357915,0.299045,0.275875,0.305740
BAL,0.320410,0.241226,0.321056,0.302375,0.298918
TOR,0.318588,0.283789,0.286301,0.349341,0.298445
CHW,0.314171,0.273806,0.332791,0.339529,0.322937
MIA,0.313390,0.362404,0.291633,0.320202,0.311988
CLE,0.310732,0.226728,0.279073,0.296368,0.273069
STL,0.310076,0.210208,0.320682,0.270569,0.295411
TEX,0.307937,0.410792,0.249589,0.263328,0.279136
LAA,0.306860,0.419681,0.280941,0.271831,0.295786
SFG,0.305750,0.372260,0.318480,0.306284,0.326040
SEA,0.305518,0.196283,0.257473,0.283602,0.255161
DET,0.304663,0.231012,0.260970,0.332820,0.269400
PHI,0.304438,0.372865,0.260970,0.211441,0.269610
MIN,0.303635,0.310494,0.287011,0.340774,0.301521
NYM,0.303144,0.285647,0.265233,0.365294,0.292123
MIL,0.301639,0.250411,0.279620,0.275913,0.272702
BOS,0.297819,0.310619,0.291099,0.318362,0.301718
TBR,0.292795,0.283181,0.326202,0.267225,0.306254
ATL,0.292405,0.300618,0.273755,0.244508,0.271622
SDP,0.287958,0.353223,0.271174,0.297998,0.295680
LAD,0.282170,0.331029,0.306677,0.275088,0.302419
HOU,0.275010,0.235123,0.235133,0.326459,0.255585
NYY,0.273188,0.269151,0.279441,0.269701,0.275107

In [10]:
Final[OPS].sort_values('OPS_overall',ascending = False)

            OPS_overall  OPS_High_Lev  OPS_Low_Lev  OPS_Med_Lev  OPS_end_gm
Tm_overall
CIN            0.795067      0.932331     0.828421     0.928684    0.861381
COL            0.782230      0.530073     0.598184     0.783662    0.628560
WSN            0.778633      0.705282     0.655632     0.606155    0.655709
KCR            0.761903      0.682180     0.814655     0.784801    0.786258
CHC            0.758261      0.629153     0.795600     0.503070    0.696108
PIT            0.755576      0.809091     0.767113     0.585055    0.734373
OAK            0.736996      0.767523     0.667893     0.702089    0.693364
BAL            0.734133      0.566749     0.724675     0.665894    0.674804
ARI            0.733191      0.819381     0.677697     0.631637    0.695819
TOR            0.730591      0.655267     0.646570     0.786414    0.676071
CHW            0.715369      0.610776     0.759026     0.775167    0.734764
MIA            0.715136      0.822650     0.662043     0.743651    0.711409
CLE            0.710154      0.501758     0.641910     0.665330    0.620978
STL            0.703599      0.452236     0.736323     0.607742    0.672148
LAA            0.699456      0.981183     0.646023     0.631395    0.682367
SEA            0.699288      0.472740     0.572602     0.666055    0.578482
SFG            0.698152      0.874411     0.727420     0.708466    0.750250
TEX            0.697856      0.969565     0.567265     0.583180    0.637444
DET            0.693982      0.488462     0.582893     0.746848    0.598229
PHI            0.693615      0.863075     0.579279     0.482153    0.604414
MIN            0.692937      0.694819     0.649493     0.763276    0.679141
NYM            0.688592      0.639386     0.592045     0.839696    0.657131
MIL            0.684848      0.540519     0.637446     0.615796    0.613168
BOS            0.676088      0.705514     0.654657     0.734819    0.684904
TBR            0.666871      0.646300     0.754647     0.605270    0.704289
ATL            0.659412      0.711806     0.604302     0.534190    0.606552
SDP            0.648088      0.800853     0.619536     0.658635    0.667152
LAD            0.641690      0.780357     0.700644     0.613361    0.691004
NYY            0.616643      0.613151     0.615297     0.601033    0.611623
HOU            0.616102      0.510173     0.515596     0.727216    0.560844

In [12]:
import glob
import os
all_files = glob.glob(os.path.join(r"C:\Users\Owner\OneDrive\Desktop\exploratory data files\Bullpen Breakdown\ERA by inning\*.csv"))

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    df['filename'] = os.path.basename(filename)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [13]:
frame['Inning'] = frame['filename'].str.partition(".")[0]
frame['OPS'] = frame['SLG'] + frame['OBP']
Combined_overall = frame[['Tm', 'G', 'ERA', 'HR', 'SO', 'wOBA', 'OPS', 'Inning']]

In [15]:
MLB_teams = pd.read_excel(r"C:\Users\Owner\OneDrive\Desktop\exploratory data files\MLB Mapping file.xlsx")

In [16]:
Inning_total = Combined_overall.merge(MLB_teams, left_on = "Tm", right_on = "Team_ID")
Inning_total.to_excel(r"C:\Users\Owner\OneDrive\Desktop\exploratory data files\Bullpen Breakdown\Inning_overall.xlsx")
Inning_total['Inning'] = Inning_total['Inning'].astype(str).astype(int)

In [17]:
Inning_total.corr()

               G       ERA        HR        SO      wOBA       OPS    Inning
G       1.000000 -0.043463  0.618716  0.848356 -0.144406 -0.226544 -0.427189
ERA    -0.043463  1.000000  0.191981 -0.116061  0.820713  0.816258  0.002528
HR      0.618716  0.191981  1.000000  0.576334  0.226714  0.166433 -0.514633
SO      0.848356 -0.116061  0.576334  1.000000 -0.227065 -0.300163 -0.495919
wOBA   -0.144406  0.820713  0.226714 -0.227065  1.000000  0.988815 -0.006319
OPS    -0.226544  0.816258  0.166433 -0.300163  0.988815  1.000000  0.044138
Inning -0.427189  0.002528 -0.514633 -0.495919 -0.006319  0.044138  1.000000

## OPS and Getting on Base correlated with ERA